<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

 
 
<!-- this is our beans -->
	<!-- 1st bean  -->
	
	
	<bean class="com.springcore.Student" name="student1">
		<property name="studentId" value="019" />
		<property name="studentName" value="umesh sharma" />
		<property name="studentAddress" value="india" />
		
		<property name="courses">
			<map>
				<entry key="Java" value="3-Months" />
				<entry key="Python" value="" />
			</map>
		</property>
		
	</bean>
	
	<!-- second bean -->
	<bean class="com.springcore.Student" name="student2">
		<property name="studentId" value="020" />
		<property name="studentName" value="Mahesh Sharma" />
		<property name="studentAddress" value="Ahmedabad" />
		<property name="subjects">
		<list>
			<value>Maths</value>
			<value>Physics</value>
			<value>Chemistry</value>
		</list>
		</property>
	</bean>

	<bean class="com.springcore.collections.Employee" name="employee1">
		<property name="name" value="umesh" />
		<property name="phones">
			<list>
				<value>98765432</value>
				<value>54631864</value>
				<value>123456789</value>
			</list>
		</property>
		<property name="addresses">
			<set>
				<value>ahmedabad</value>
				<value>jaipur</value>
				<value>thane</value>
				<value>Vadodara</value>
			</set>
		</property>
		
		<property name="courses">
			<map>
				<entry key="java" value="3-Months"/>
				<entry key="python" value="1-Months" />
				<entry key="cpp" value="2-Months" />
			</map>
		</property>
		
		<property name="empProps">
			<props>
				<prop key="userNAme">umesh123</prop>
				<prop key="password">u12345</prop>
			</props>
		</property>
	</bean>

</beans>