<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

 
 
<!-- this is our beans -->
	<!-- 1st bean  -->
	<bean class="com.springcore.Student" name="student1">
		<property name="studentId" value="019" />
		<property name="studentName" value="umesh sharma" />
		<property name="studentAddress" value="india" />
		
		<property name="courses">
			<map>
				<entry key="Java" value="3-Months" />
				<entry key="Python" value="" />
			</map>
		</property>
		
	</bean>
	
	<!-- second bean -->
	<bean class="com.springcore.Student" name="student2">
		<property name="studentId" value="020" />
		<property name="studentName" value="Mahesh Sharma" />
		<property name="studentAddress" value="Ahmedabad" />
		<property name="subjects">
		<list>
			<value>Maths</value>
			<value>Physics</value>
			<value>Chemistry</value>
		</list>
		</property>
	</bean>

</beans>